<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ML Deployment Workshop -v1</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background: #100;">
    <div class="login">
        <h1>Prediction de maladies</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict') }}" method="post">
            <input type="text" name="Pregnancies" placeholder="Nombre de grossesses" required="required" />
            <input type="text" name="Glucose" placeholder="Glucose" required="required" />
            <input type="text" name="BloodPressure" placeholder="Pression sanguine" required="required" />
            <input type="text" name="SkinThickness" placeholder="Épaisseur de la peau" required="required" />
            <input type="text" name="Insulin" placeholder="Insuline" required="required" />
            <input type="text" name="BMI" placeholder="Indice de masse corporelle (BMI)" required="required" />
            <input type="text" name="DiabetesPedigreeFunction" placeholder="Fonction de prédisposition au diabète" required="required" />
            <input type="text" name="Age" placeholder="Âge" required="required" />

            <button type="submit" class="btn btn-primary btn-block btn-large">Prédire la maladie</button>
        </form>

        <br>
        <br>
        {{ prediction_text }}

    </div>
</body>
</html>
